<footer>
<div class="fhero">
  <div class="flogo">
    <img src="assets/images/hero.jpg" alt="Logo">
    <p>Skillset College</p>
  </div>
<div class="flinks">
  <div class="column">
<nav>
 <ul>
  <li><%= link_to "HOME",            root_path     %></li>
  <li><%= link_to "ABOUT",           about_path    %></li>
  <li><%= link_to "ADMINISTRATION",  admin_path    %></li>
  <li><%= link_to "DEPARTMENT",      dept_path     %></li>
  <li><%= link_to "STAFF",           staff_path    %></li>
</ul>
 </nav> 
</div>  
  <div class="column">
    <h4></h4>
<nav>
<ul>
  <li><%= link_to "STUDENTS",        student_path  %></li>
  <li><%= link_to "ADMISSION",       register_path %></li> 
  <li><%= link_to "CONTACT",         contact_path  %></li>
  <li><%= link_to "BLOG",            blog_path     %></li>
  <li><%= link_to "ALUMNIS",         alumni_path   %></li> 
 </ul>  
</nav> 
 </div>
</div>
<div class="foo">
  <p class="copy">&copy; Copyright 2023</p>
  <p class="copy">
    
    <a href="https://twitter.com/0gada_Moses" target="_blank">
      @Moses Ogada
    </a>
  </p>
</div>   
</footer>