<footer>
<div class="fhero">
  <div class="flogo">
    <img src="https://lh3.googleusercontent.com/ogw/AAEL6siKaozO8Ntqs3Vv8Q0-9rTRsMgIkABRgY86i4xg5g=s32-c-mo" alt="Logo">
    <p>Skillset College</p>
  </div>
<div class="flinks">
  <div class="column">
<nav>
 <ul>
  <li><%= link_to "HOME",            root_path     %></li>
  <li><%= link_to "ABOUT",           about_path    %></li>
  <li><%= link_to "ADMINISTRATION",  admin_path    %></li>
  <li><%= link_to "DEPARTMENT",      dept_path     %></li>
  <li><%= link_to "STAFF",           staff_path    %></li>
</ul>
 </nav> 
</div>  
  <div class="column">
<nav>
<ul>
  <li><%= link_to "STUDENTS",        student_path  %></li>
  <li><%= link_to "ADMISSION",       register_path %></li> 
  <li><%= link_to "CONTACT",         contact_path  %></li>
  <li><%= link_to "BLOG",            blog_path     %></li>
  <li><%= link_to "ALUMNIS",         alumni_path   %></li> 
 </ul>  
</nav> 
 </div>
</div>   
</footer>