<footer class="footer">
<small>
Skillset College
</small>
<nav>
  <ul>
      <li><%= link_to "Home", '#'     %></li>
      <li><%= link_to "About Us", '#' %></li>
      <li><%= link_to "Courses", '#'  %></li>
      <li><%= link_to "Contact", '#'  %></li>
      <li><%= link_to "Register", '#' %></li>
    </ul>  
</nav>      
</footer>