<header class="navbar navbar-fixed-top navbar-inverse">
<div>
<h1>SKILLSET    COLLEGE</h1>
</div>
 <div class="container">
    <nav>
    <%= link_to "Skillset", '#', id: "logo" %>
     <ul class="nav navbar-nav navbar-center">
      <li><%= link_to "Home", '#'     %></li>
      <li><%= link_to "About Us", '#' %></li>
      <li><%= link_to "Courses", '#'  %></li>
      <li><%= link_to "Contact", '#'  %></li>
      <li><%= link_to "Register", '#' %></li>
      <li><%= link_to "Login", '#'  %></li>
      <li><%= link_to "Library", '#' %></li>
      <li><%= link_to "Blog", '#' %></li>
      <li><%= link_to "Alumnis", '#' %></li>
      <li><%= link_to "Events", '#' %></li>
     </ul> 
    </nav>
  </div>
</header>