<header class="navbar navbar-fixed-top navbar-inverse">
<div>
<h6>SKILLSET    COLLEGE</h6>
</div>
 <div class="container">
    <nav>
    <%= link_to "SKILLSET", root_path, id: "logo" %>
     <ul class="nav navbar-nav navbar-center">
      <li><%= link_to "HOME",            root_path     %></li>
      <li><%= link_to "ABOUT",           about_path    %></li>
      <li><%= link_to "ADMINISTRATION",  admin_path    %></li>
      <li><%= link_to "DEPARTMENT",      dept_path     %></li>
      <li><%= link_to "STAFF",           staff_path    %></li>
      <li><%= link_to "STUDENTS",        student_path  %></li>
      <li><%= link_to "ADMISSION",       register_path %></li> 
      <li><%= link_to "CONTACT",         contact_path  %></li>
      <li><%= link_to "BLOG",            blog_path     %></li>
      <li><%= link_to "ALUMNI",         alumni_path   %></li>  
     </ul> 
    </nav>
  </div>
</header>